
#songs{
    display: flex;
    flex-grow: 1;
    height: 100%;
	max-height: 90vh;
    overflow: hidden; 
    justify-content: center;
    width: 100%;
}

#songs:hover{
    overflow-y: scroll; 
}

#songsTitle{
    text-align: center;
    font-size: 30px;
}

#songs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#songs::-webkit-scrollbar
{
   
	width: 11px;
	background-color: #F5F5F5;
}

#songs::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#e7a61a))
}
