
#songs, #topSongs{
    display: flex;
    flex-grow: 1;
    height: 100%;
	max-height: 89.5vh;
    overflow: hidden; 
    justify-content: center;
	width: 100%;
	border-radius: 7px;
	background: rgb(89,179,182);
	background: radial-gradient(circle, rgba(89,179,182,1) 9%, rgba(86,134,189,1) 100%);
	
}
#topSongs{
	background-color: transparent;
	border: none;
	
}
#songs{
    height: 100vh;
	
}
.searchDiv{
	display: flex;
	justify-content: center;
}
#songs:hover{
	overflow-y: scroll; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

}


#songsTitle{
    text-align: center;
    font-size: 30px;
}

#songs::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}

#songs::-webkit-scrollbar
{
   
	width: 5px;
	background-color: #F5F5F5;
}



#songs::-webkit-scrollbar-thumb
{
    border-radius: 5px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#e7a61a))
}


@media only screen and (max-width: 323px) {
	#songs{
	  justify-content: flex-start;
  }
	.searchDiv{
		width: 100vw;
		display: flex;
		justify-content: center;
	}

}

@media only screen and (max-width: 300px) {
	#songs{
		overflow-y:scroll
	}
}