#albums, #topAlbums{
    display: flex;
    flex-grow: 1;
	height: 100%;
	max-height: 89.5vh;
    overflow: hidden; 
    justify-content: center;
	width: 100%;
	background-color:#FDB515 ;
	border-radius:7px
}
#albums{
	height: 100vh;
}
#albums:hover{
	overflow-y: scroll; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#topAlbums:hover{
	overflow-y: scroll; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#albumsTitle{
    text-align: center;
    font-size: 30px;
}

#albums::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}
 #topAlbums::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}



#albums::-webkit-scrollbar
{
   
	width: 5px;
	background-color: #F5F5F5;
}

#topAlbums::-webkit-scrollbar
{
   
	width: 5px;
	background-color: #F5F5F5;
}

#albums::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#ccb025))
}
#topAlbums::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#ccb025))
}

.searchDiv{
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 650px) {
	#topAlbums{
		overflow-y:scroll
	}
}
@media only screen and (max-width: 300px) {
	#albums{
		overflow-y:scroll
	}
}