.coverImg{
    height:  240px;
    border-radius: 20px;
    width: 250px;
    border:1px solid black;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);

    
}
.oneAlbum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.albumMedia{
    height: 15vh;
}




