body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (max-width: 350px) {
  *{
  font-size: small;
  }
}

@media only screen and (max-width: 280px) {
  *{
  font-size: x-small;
  }
}

@media only screen and (max-width: 250px) {
  *{
  font-size: xx-small;
  }
}
@media only screen and (max-width: 225px) {
  *{
  font-size: smaller;
  }
}