#playlists, #topPlaylists{
    display: flex;
    flex-grow: 1;
	height: 100%;
	max-height: 89.5vh;
    overflow: hidden; 
    justify-content: center;
	width: 100%;
	background-color:#FDB515 ;
	border-radius:7px
}
.searchDiv{
	display: flex;
	justify-content: center;
}

#playlists:hover{
	overflow-y: scroll; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#topPlaylists:hover{
	overflow-y: scroll; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#playlistsTitle{
    text-align: center;
    font-size: 30px;
}

#playlists::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}
#topPlaylists::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}

#playlists::-webkit-scrollbar
{
   
	width: 5px;
	background-color: #F5F5F5;
}
#topPlaylists::-webkit-scrollbar
{
   
	width: 5px;
	background-color: #F5F5F5;
}

#playlists::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#ccb025))
}

#topPlaylists::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#e7a61a),
									   to(#ccb025))
}

@media only screen and (max-width: 650px) {
	#topPlaylists{
		overflow-y:scroll
	}
}
@media only screen and (max-width: 300px) {
	#playlists{
		overflow-y:scroll
	}
}