#playlists,
#topPlaylists {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  max-height: 89.5vh;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  background: rgb(89, 179, 182);
  background: radial-gradient(
    circle,
    rgba(89, 179, 182, 1) 9%,
    rgba(86, 134, 189, 1) 100%
  );
  border-radius: 7px;
}
#topPlaylists {
  display: flex;
  flex-grow: 1;
  height: 100%;
  max-height: 89.5vh;
  overflow: hidden;
  justify-content: center;
  border-radius: 7px;
  background-color: transparent;
  border: none;
}
.topPlaylists {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
  height: 160px;
  width: 70px;
  position: relative;
}
.searchDiv {
  display: flex;
  justify-content: center;
}
.topImages {
  width: 130%;
  height: 90px;
  margin-top: 10px;
  border-radius: 8px;
  bottom: 0;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
}

#playlists:hover {
  overflow-y: scroll;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#playlistsTitle {
  text-align: center;
  font-size: 30px;
}

#playlists::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

#playlists::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#playlists::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#e7a61a),
    to(#ccb025)
  );
}

@media only screen and (max-width: 300px) {
  #playlists {
    overflow-y: scroll;
  }
}
