#login{
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    
}

#login >input{
    border-radius: 4px;
    height: 18px;
}
.wallpaper{
    width: 100vw;
    height: 100vh;
    /* background-image: url("./pexels-travis-blessing-1363876.jpg"); */
}
