.authForms {
  width: 30vw;
  min-width: 300px;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  background-color: #f6f6f6;
  opacity: 0.9;
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#register {
  display: flex;
  flex-direction: column;
  height: 65vh;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}
