header{
    display: flex;
    position: sticky;
    background-color: #949391;
    width: 100%;
    height: 10vh;
    justify-content: flex-start ;
    align-items: center;
    overflow-y: hidden;
    position: sticky;

}
.title{
    padding:8px ;
    cursor: pointer;
}
