header{
    display: flex;
    top: 0;
    background-color: #0A2342;
    opacity: 0.9;
    width: 100vw;
    height: 10vh;
    justify-content: flex-start ;
    align-items: center;
    overflow-y: hidden;
    position: sticky;
    border-bottom:1px solid white;
    z-index: 1000;

}
.mainPlayer{
  height: 4vh;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  color:white;
  z-index:999;
  top: 10vh;
  position: sticky;
  background-color: transparent;
  
}
.controls{
  color:black;
    display: flex;
    background-color: #E8F9E9;
    border: 1px solid #85CA7C;
    border-radius: 20px;
    max-width: 30vw;
    justify-content: space-around;
  }
.title{
    cursor: pointer;
    background-color: #333333;
    margin-left: 12px;
    border-radius: 5px;
    border:1px solid black;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
  
}

.title:hover{
  align-items: center;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transition-duration:0.3s
  
}

@media only screen and (max-width: 680px) {
    header{
      font-size: 13px;
    }
  
  } 


  @media only screen and (max-width: 605px) {
    header{
      font-size: 12px;
    }
  
  }
  
  @media only screen and (max-width: 585px) {
 
    header{
    font-size: 10px;
    }
    
  }
  
  @media only screen and (max-width: 540px) {
 
    header{
        font-size: 8px;
        }
    
  }
  @media only screen and (max-width: 503px) {
    header{
        font-size: 6px;
        }
  }
  @media only screen and (max-width: 459px) {
    header{
        font-size: 5px;
        }
  }
  @media only screen and (max-width: 439px) {
    header{
        font-size: 0px;
        }
        .mainPlayer{
          height: 5vh;}
  }
  @media only screen and (max-width: 332px) {
    header{
        font-size: 0px;
        }
        .title{
          padding: 2px;
        }
        .title:hover{
          padding:3px;
        }

  }

  @media only screen and (max-width: 290px) {
    .mainPlayer{
      height: 6vh;}

  }