#userInfo{
    color: rgba(241, 241, 250, 0.87);
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1e4572;
    opacity: 0.8;

}
#about{
    position: relative;
}
#userFavorites{
    overflow-y: scroll;
    height: 76vh;
}